/* ======= Base ======= */
/* Document level adjustments */
html {
  font-size: 1rem;
}
@media (max-width: 900px) {
  html { font-size: 0.9rem; }
}
@media (max-width: 400px) {
  html { font-size: 0.8rem; }
}

html,
body {
  height: 100%;
	font-size: 1rem;
	font-family: 'open sans', arial, sans-serif;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -344px;
  /* equal to footer height */
}

/*Revisar depois de terminar o site*/
/*
.wrapper:after {
  content: "";
  display: block;
  height: 344px;
 
}
 /*must be the same height as footer */

/*
.footer {
  height: 344px;

}
*/
/*   must be the same height as footer */



h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: 700;
}

p {
	color: #4f4f4f;
}

a {
	color: #0e524c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
	color: #153a35;
}
a:focus {
  text-decoration: none;
}
.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
	border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.btn-theme {
	background: #d3a229;
	border: 1px solid #d3a229;
  color: #0e524c;
}
.btn-theme:hover {
  background: #e9cb82;
	border: 1px solid #e9cb82;
}

.carousel-fade .item {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.carousel-fade .item.active {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}