
@media screen and (min-width: 768px) {
	.carousel-caption {
		right: 5%;
		left: 30%;
		top: 15%;
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 768px){
	.carousel-caption{
		margin: 0 auto;
		padding: 0;
		max-height: 200px;
		
	}
	.carousel-caption h3{
		font-size: 16px !important;
		font-weight: 500;
		text-align: left;
		padding-top: 5px !important;
		

		
 	}
	.carousel-caption p{
		font-size: 12px !important;
		font-weight: 400 !important;
		text-align: left;
		padding: 1px 0 !important;
		

		
 	}
}


.carousel-caption{
	position: absolute;
	height: auto;
	text-align: left;
}
.carousel-caption h3 {
	font-size: 2.25rem;
}

.carousel-caption p{
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 700;
	padding: 0.5rem 0;
}

.carousel-control i{
	position: absolute;
	top:50%;
	color: #0e524c;
	padding: 10px 15px;
	background-color: #d3a229;
	color: #0e524c;
	border-radius: 3px;
}

.left i{
	left: 10%;
}
.right i{
	right: 10%;
}
