/* ======= Header ======= */

@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}

@media(max-width: 768px){
	.telefone{
		margin-left: 15px;
	}
}


.navbar{
	margin-bottom: 0;
	border: none;
}

.navbar-toggle{
	border: none;

	
}

.navbar-default.navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
	background-color: #D2A027;
	color: #0e524c;
	border: none;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}


.header .top-bar {
	background: #153a35;
}

.header .top-bar .login-form {
	padding: 10px 0;
}

.header .top-bar .login-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.header .telefone {
	margin-right: 0;
	margin-bottom: 0;
}

.telefone {
	padding: 10px 0;
	display: inline-block;
}

.telefone {
	background: url(../img/Shape-1.png) no-repeat center left;
	padding-left: 33px;
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
}


.header .header-main {
	background: #0e524c;
}

.header .header-main {
	padding: 30px 0;
}

.header-main h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.header h1.logo {
	margin-top: 0;
	margin-bottom: 0;
}


.header .form-control {
	background: #f5f5f5;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}



