* {
    font-family: "OpenSans", "Arial", sans-serif;
}

body {}

header {
    background-color: #153a35;
    height: 45px;
}
header section{
    padding-top: 5px;
}


header,

.navegacao,
main,
footer {
    width: 100%;
    float: left;
}
main{
    background-color: #f2f2f2;
}

.navegacao {
    background: #0e524c;
    color: #ffffff;
    font-size: 16px;
    height: 85px;
}

.telefone {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    padding-left: 33px;
    background: url(Shape-1.png) no-repeat center left;
    display: inline-block;
}

.login {
    display: inline-block;
    float: right;
}



input[type=text],
input[type=password],
input[type=email] {
    background: #e3e3e3;
    border-radius: 3px;
}

.btn-primary {
    background-color: #d3a229;
    border-color: none;
    border-radius: 3px;
    color: #0e524c;
}
